<!DOCTYPE html>
<html>
<head>
  <title>DoubleBook</title>
  <%= stylesheet_link_tag    "double_book/application", :media => "all" %>
  <%= javascript_include_tag "double_book/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
