<!DOCTYPE html>
<html>
<head>
  <title>DoubleBooked</title>
  <%= stylesheet_link_tag    "double_booked/application", :media => "all" %>
  <%= javascript_include_tag "double_booked/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
